input {
  background-color: black;
  color: white;
  width: 500px;
  height: 50px;
}

button {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #DDDDDD;
  border: 1px solid;
  border-color: gray;
  border-radius: 3px;
  text-decoration: none;
  height: 50px;
  width: 60px;
}